.carousel-wrapper,
.swiper-wrapper {
  width: 100%;
}

.carousel-wrapper,
.swiper-slide .carousel-image {
  position: relative;
}

.carousel-wrapper .default-content-wrapper p {
  padding-bottom: 30px;
  font-size: 26px;
}

.carousel-wrapper .carousel-text {
  text-align: left;
  font: 18px/32px;
  letter-spacing: 0;
  color: #201d1d;
  margin-top: 18px;
}


.swiper-slide-visible {
  opacity: 1;
}

.swiper-slide .carousel-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  text-shadow: 0 3px 6px #0000002c;
  padding-top: 36px;
  padding-left: 41px;
  padding-right: 60px;
}

.swiper-slide .carousel-text p {
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.52px;
  color: #fff;
  max-width: 80%;
}

.swiper-slide .carousel-text::after {
  content: "";
  display: block;
  width: 87px;
  max-width: 70%;
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
}

.swiper-slide .carousel-text p:first-child {
  background: no-repeat padding-box #fff;
  display: inline-block;
  color: #000;
  letter-spacing: 0.32px;
  padding: 6px 20px 6px 17px;
  margin-bottom: 17px;
  font: 16px/21px;
}

.swiper-slide .carousel-text .button-container a {
  position: absolute;
  bottom: 25px;
  right: 18px;
  font: bold 14px/19px;
  letter-spacing: 0.56px;
  color: #fff;
  text-transform: uppercase;
}

.swiper-slide .carousel-text .button-container a::after {
  content: "";
  background: url('/icons/right-icon.svg') no-repeat;
  height: 20px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}

.carousel-wrapper .swiper-slide .carousel-text {
  margin-top: 0;
}

@media (width <= 1023px) {

  .carousel-wrapper {
    padding: 0;
  }

  .carousel-wrapper p {
    font-size: 20px;
    max-width: 75%;
  }

  .swiper-slide .carousel-text {
    margin-top: 0;
    padding-top: 24px;
    padding-left: 25px;
  }

  .carousel-wrapper .carousel-text p {
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.32px;
  }

  .swiper-slide .carousel-text p:first-child {
    padding: 5px 16px 6px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.24px;
  }

  .swiper-slide .carousel-text .button-container a {
    font-size: 12px;
    line-height: 16px;
  }

  .carousel-wrapper .swiper-button-prev {
    background: url('../../icons/arrow-left-mobile.svg') no-repeat 0 0;
    left: auto;
    right: 20px;
    padding-right: 15px;
    width: 20px;
  }

  .carousel-wrapper .swiper-button-next {
    transform: rotate(180deg);
    background: url('../../icons/arrow-left-mobile.svg') no-repeat 0 0;
    width: 20px;
  }

  .carousel-wrapper .swiper-button-next,
  .carousel-wrapper .swiper-button-prev {
    top: -75px;
  }

  .swiper-slide .swiper-button-next,
  .swiper-slide .swiper-button-prev {
    top: -50px;
  }

}