.carousel-wrapper,
.swiper-wrapper {
  width: 100%;
}

.carousel-wrapper,
.swiper-slide .carousel-image {
  position: relative;
}

.carousel-wrapper .default-content-wrapper p {
  padding-bottom: 30px;
  font-size: 26px;
}

.swiper-slide-visible {
  opacity: 1;
}

.swiper-slide .carousel-text p {
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.52px;
  color: #fff;
  max-width: 80%;
}

.swiper-slide .carousel-text::after {
  content: "";
  display: block;
  width: 87px;
  max-width: 70%;
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
}

.swiper-slide .carousel-text p:first-child {
  background: no-repeat padding-box #fff;
  display: inline-block;
  color: #000;
  letter-spacing: 0.32px;
  padding: 6px 20px 6px 17px;
  margin-bottom: 17px;
  font: 16px/21px;
}

.swiper-slide .carousel-text .button-container a {
  position: absolute;
  bottom: 25px;
  right: 18px;
  letter-spacing: 0.56px;
  color: #fff;
  text-transform: uppercase;
}

.swiper-slide .carousel-text .button-container a::after {
  content: "";
  background: url('/icons/right-icon.svg') no-repeat;
  height: 20px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}

.carousel-wrapper {
    padding: 0;
}

.carousel-wrapper .swiper-slide .carousel-text {
    position: relative;
    top: -270px;
    text-shadow: 0 3px 6px #0000002c;
    text-align: left;
    letter-spacing: 0;
    color: #201d1d;
}

.carousel-wrapper .swiper-button-prev {
    background: url('../../icons/arrow-left-mobile.svg') no-repeat 0 0;
    left: auto;
    right: 127px;
    width: 20px;
    height: 22px;
    position: absolute;
    top: 2px;
}

.carousel-wrapper .swiper-button-next {
    transform: rotate(180deg);
    background: url('../../icons/arrow-left-mobile.svg') no-repeat 0 0;
    width: 20px;
    position: absolute;
    height: 22px;
    left: auto;
    right: 100px;
    top: 0;
}

.swiper-slide .carousel-image {
    height: 260px;
    width: 99.9%;
}

.swiper-wrapper {
    padding-top: 50px;
}

.swiper-slide {
    display: inline-block;
    height: 260px;
}

.carousel-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.swiper-slide {
  flex: 0 0 calc(100% / 3);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.hidden-slide {
  display: none;
}

